// @font-face {
//   font-family: 'Lato-Medium';
//   src: url('/assets/fonts/Lato-Medium.ttf');
// }

// @font-face {
//   font-family: 'Lato-Semibold';
//   src: url('/assets/fonts/Lato-Semibold.ttf');
// }


$font-lato: 'Lato', sans-serif;
$font-lato-medium: $font-lato;
$font-lato-semibold: $font-lato;
$body-bg: #fafafa !default;
// Bootstrap brand color customization
/*     brand Colors              */
$brand-primary : rgb(50, 87, 126) !default;
$brand-primary-text : rgba(110, 123, 137, 1) !default;
$brand-info : rgb(113, 186, 241) !default;
$brand-success : rgb(60, 168, 113) !default;
$brand-warning : rgb(255, 178, 54) !default;
$brand-danger : rgb(184, 36, 41) !default;
$brand-rose : rgb(233, 30, 99) !default;
$brand-inverse : rgb(60, 72, 88) !default;
$brand-secoundry : rgba(48, 214, 190, 1) !default;
$brand-skyblue : rgba(35, 193, 215, 1) !default;
$brand-slight-black : rgba(17, 35, 54, 1) !default;
$light-white: rgba(236, 236, 236, 0.6) !default;
$dark-black: rgba(7, 28, 51, 1) !default;

a {
  &:focus {
    outline: none;
  }
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
button:focus {
  outline: none;
}
$gray-lighter: rgba($black, 0.12) !default;
$gray-light: #999 !default;
$gray: #555 !default; // spec color
$font-size-base: 1rem !default;
$gray-dark: rgba($black, 0.87) !default; // used for text color - others use grey-600 which is considerably lighter
// wondering if any of these could still be refactored out, but are definitely in use.
$bmd-inverse: rgba($white, 1) !default;
$bmd-inverse-light: rgba($white, 0.84) !default;

$bmd-label-color: $gray-color !default;
$bmd-label-color-inner-focus: $gray !default; // e.g. radio label or text-muted not a control-label which is primary

$border-radius-base: 3px !default;
$border-radius-small: 2px !default;
$border-radius-large: 6px !default;
$border-radius-huge: 10px !default;
$border-radius-label: 12px !default;
$border-radius-extreme: 30px !default;

// Typography elements
$mdb-text-color-light: $white !default;
$mdb-text-color-light-hex: $white !default; // for contrast function in inverse
$mdb-text-color-primary: unquote("rgba(#{$rgb-black}, 0.87)") !default;
$mdb-text-color-primary-hex: $black !default; // for contrast function in inverse
$icon-color: rgba(0, 0, 0, 0.5) !default;

$mdb-label-color: unquote("rgba(#{$rgb-black}, 0.26)") !default;
$mdb-label-color-toggle-focus: unquote("rgba(#{$rgb-black}, .54)") !default;


$mdb-input-underline-color: #D2D2D2 !default;
$mdb-input-font-size-base: 14px !default;
$mdb-input-font-size-large: ceil(($font-size-base * 1.25)) !default; // ~20px
$mdb-input-font-size-small: ceil(($font-size-base * 0.75)) !default; // ~12px
$bmd-bmd-label-static-size-ratio: 75 / 100 !default;
$bmd-help-size-ratio: 75 / 100 !default;
$bmd-form-control-bg-repeat-y: no-repeat !default;
$bmd-form-control-bg-position: center bottom,
center calc(100% - 1px) !default;
$bmd-form-control-bg-size: 0 100%,
100% 100% !default;
$bmd-form-control-bg-size-active: 100% 100%,
100% 100% !default;

// sizing
$bmd-form-line-height: 1 !default; // set as 1x font-size so that padding is easier calculated to match the spec.
$bmd-label-top-margin-base: 1rem !default;
$bmd-label-top-margin-lg: 1rem !default; // 16px
$bmd-form-line-height-sm: 1 !default; // set as 1x font-size so that padding is easier calculated to match the spec.
$bmd-label-top-margin-sm: .75rem !default; // 12px
$text-disabled: #a8a8a8 !default;
$background-disabled: #eaeaea !default;
$margin-base: 1.071rem !default;
$font-color: #66615b !default;
$black-color: #3C4858 !default;

// Dropdowns
$dropdown-item-padding-y: .625rem;
$dropdown-item-padding-x: 1.25rem;
$dropdown-header-padding-y: 0.1875rem;
$bmd-dropdown-margin-y: .3125rem !default;
$bmd-dropdown-header-color: #777 !default;
$bmd-dropdown-link-color: #333 !default;

// Switches
$bmd-switch-label-padding: .3125rem !default; // 5px
$bmd-switch-width: 2.125rem !default; // 34px
$bmd-switch-height: .875rem !default; // 14px
$bmd-switch-handle-size: 1.25rem !default; // 20px (was 18px)
$bmd-switch-handle-unchecked-bg: #f1f1f1 !default;
$bmd-switch-handle-disabled-bg: #bdbdbd !default;
$bmd-switch-unchecked-bg: $gray-lighter !default;
$bmd-switch-checked-bg: desaturate(lighten($brand-primary, 28%), 32%); // kind of magic recipe
$bmd-switch-disabled-bg: $gray-lighter !default;

$navbar-color: #555 !default;
$pills-color: $navbar-color !default;
$link-color: $brand-primary;
$white-transparent: rgba($white, .8);
$transparent: transparent;

//Popovers
$popover-color: $navbar-color !default;

//Paddings
$padding-card-body-y: 0.9375rem !default;
$padding-card-body-x: 1.875rem !default;

// Buttons:
$mdb-btn-fab-size: 41px !default;
$mdb-btn-fab-size-lg: 56px !default;
$mdb-btn-fab-size-mini: 29px !default;
$mdb-btn-fab-font-size: 24px !default;

$mdb-btn-icon-size: 32px !default;
$mdb-btn-icon-size-mini: 17px !default;

$bmd-line-height: 1.42857143 !default;
$btn-lg-line-height: 1.3333333 !default;

//Font-weight
$font-weight-light: 300 !default;
$font-weight-default: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-extra-bold: 700 !default;


// Animations
$bmd-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$bmd-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$bmd-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$bmd-animation-curve-default: $bmd-animation-curve-fast-out-slow-in !default;
$bmd-animation-dropdown-caret: 150ms !default;
$general-transition-time: 300ms !default;

$slow-transition-time: 500ms !default;
$fast-transition-time: 150ms !default;

$transition-linear: linear !default;
$transition-bezier: cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-bezier-rotating-card: cubic-bezier(0.34, 1.45, 0.7, 1) !default;
$transition-ease: ease 0s;

$mdb-checkbox-size: 20px !default;
$mdb-checkbox-animation-ripple: 500ms !default;
$mdb-checkbox-animation-check: 0.3s !default;
$mdb-checkbox-checked-color: $brand-primary !default;
$mdb-checkbox-border-color: $mdb-label-color-toggle-focus !default;

// Radio:
$mdb-radio-color-off: $mdb-label-color-toggle-focus !default;
$mdb-radio-color-on: $brand-primary !default;


// Shadows 
$bmd-shadow-umbra-opacity: 0.2 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;

// Declare the following for reuse with both mixins and the bootstrap variables
$bmd-shadow-focus: 0 0 8px rgba($black, .18),
0 8px 16px rgba($black, .36);
$primary-shadow: 0 3px 6px rgba(0, 0, 0, .36);
$bmd-shadow-2dp: 0 2px 2px 0 rgba($black, $bmd-shadow-penumbra-opacity), 0 3px 1px -2px rgba($black, $bmd-shadow-umbra-opacity), 0 1px 5px 0 rgba($black, $bmd-shadow-ambient-opacity);



// Cards
$card-border-color: $gray-lighter !default;
$card-bg: #fff !default;
$card-cap-bg: $card-bg !default; // #f5f5f5
$mdb-card-body-text: $mdb-text-color-primary !default;
$mdb-card-body-background: #fff !default;
$mdb-card-image-headline: #fff !default;

$text-disabled: #a8a8a8 !default;
$background-disabled: #eaeaea !default;

// Drawer
$bmd-drawer-x-size: 240px !default;
$bmd-drawer-y-size: 100px !default;


// Forms
$input-bg: rgba($black, 0) !default; // #fff !default;
$input-bg-disabled: rgba($black, 0) !default; // $gray-lighter !default;
//$input-color:                    $gray !default;
$input-border-color: #d2d2d2 !default; // #ccc !default;
$input-border-color-white: #FFFFFF !default;
$input-box-shadow: none !default; //inset 0 1px 1px rgba(0,0,0,.075) !default;
$input-border-radius: 0 !default; // $border-radius !default;
$input-box-shadow-focus: none !default; // rgba(102,175,233,.6) !default;
$input-color-placeholder: $bmd-label-color !default; // #999 !default;

$input-padding-x: 0 !default; // .75rem !default;
$input-padding-y: .4375rem !default; // spec 8px // .375rem !default;

$input-padding-x-sm: 0 !default; // .75rem !default;
$input-padding-y-sm: .25rem !default; // spec 4px //.275rem !default;

$input-padding-x-lg: 0 !default; //   1.25rem !default;
$input-padding-y-lg: .5625rem !default; // no-spec 9px // .75rem !default;
//
$input-group-addon-bg: transparent !default; //$gray-lighter !default;
$input-group-addon-border-color: transparent !default; //$input-border-color !default;
//// Form validation icons
$form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
$form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
$form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";

$bmd-menu-item-min-width: 7rem !default; // Minimum width on mobile = 2 * 56dp = 112dp
$bmd-menu-item-padding-right: 1rem !default;
$bmd-menu-item-padding-left: 1rem !default;

// md and up
$bmd-menu-item-padding-right-md: 1.5rem !default;
$bmd-menu-item-padding-left-md: 1.5rem !default;

// Menu
$bmd-menu-expand-duration: 0.3s !default;
$bmd-menu-fade-duration: 0.2s !default;

// Modals
$transition-ease-in:              ease-in !default;
$padding-zero:                   0px !default;
$topbar-back:          topbar-back !default;
$bottombar-back:       bottombar-back !default;
$topbar-x:             topbar-x !default;
$bottombar-x:          bottombar-x !default;


// Navs
$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;

$bmd-navbar-link-font-weight: 400 !default; //
$bmd-navbar-link-font-size: .875rem !default; // 14
$bmd-navbar-link-padding: .5321rem; // 7

// tabs & pills
$bmd-nav-tabs-pills-font-weight: 500 !default; //
$bmd-nav-tabs-pills-font-size: .875rem !default; // 14
$bmd-nav-tabs-pills-link-padding: 1.4286em .8575em !default; // spec // was .5em 1em   // relative em based on 14

// tabs only
$bmd-nav-tabs-border-size: .214rem !default; // 3px

$bmd-nav-tabs-color: $gray !default;
$bmd-nav-tabs-active-color: $gray-dark !default;
$bmd-nav-tabs-active-border-color: $brand-primary !default;
$bmd-nav-tabs-disabled-link-color: $nav-disabled-link-color !default;
$bmd-nav-tabs-disabled-link-color-hover: $nav-disabled-link-hover-color !default;

$bmd-nav-tabs-primary-color: $bmd-inverse !default;
$bmd-nav-tabs-primary-active-color: #fff !default;
$bmd-nav-tabs-primary-active-border-color: #fff !default;
$bmd-nav-tabs-primary-disabled-link-color: $bmd-inverse-light !default;
$bmd-nav-tabs-primary-disabled-link-color-hover: $bmd-inverse-light !default;

$bmd-nav-tabs-inverse-color: $bmd-inverse !default;
$bmd-nav-tabs-inverse-active-color: #fff !default;
$bmd-nav-tabs-inverse-active-border-color: #fff !default;
$bmd-nav-tabs-inverse-disabled-link-color: $bmd-inverse-light !default;
$bmd-nav-tabs-inverse-disabled-link-color-hover: $bmd-inverse-light !default;
$nav-tabs-active-link-hover-bg: transparent !default;


// Pagination
$pagination-padding-x-lg: 0;
$pagination-padding-x-sm: 0;


// Typography
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             14px !default;
$font-size-h1:                 3.3125rem;
$font-size-h2:                 2.25rem !default;
$font-size-h3:                 1.5625rem;
$font-size-h4:                 1.125rem !default;
$font-size-h5:                 1.0625rem !default;
$font-size-h6:                 0.75rem !default;
$font-paragraph:               14px !default;
$font-size-small:              12px !default;
$font-size-xs-small:           11px !default;
//
$line-height-base:                1.5 !default;
//

$padding-base-vertical:        .5rem !default;
$padding-base-horizontal:      .7rem !default;
$padding-large-vertical:       15px !default;
$padding-small-vertical:        5px !default;
$mdb-input-padding-base-vertical : 8px - 1px !default; // was 6.
$mdb-label-as-placeholder-shim-base : 0 !default;
$mdb-label-top-margin-small : 12px !default;
$mdb-input-padding-small-vertical : 4px - 1px !default; // 5
$mdb-label-as-placeholder-shim-small: 8px !default;
$mdb-input-size-base: 14px !default;
$mdb-label-top-margin-large : 16px !default;
$mdb-input-padding-large-vertical : 10px - 1px !default; // 10
$mdb-input-line-height-large : 1.3333333 !default; // extra decimals for Win 8.1 Chrome
$mdb-label-as-placeholder-shim-large: -4px !default; // manual adjustment of label top when positioned as placeholder
