// Animations (from mdl http://www.getmdl.io/)
@mixin material-animation-fast-out-slow-in($duration:0.2s) {
    transition-duration: $duration;
    transition-timing-function: $bmd-animation-curve-fast-out-slow-in;
}

@mixin material-animation-linear-out-slow-in($duration:0.2s) {
    transition-duration: $duration;
    transition-timing-function: $bmd-animation-curve-linear-out-slow-in;
}

@mixin material-animation-fast-out-linear-in($duration:0.2s) {
    transition-duration: $duration;
    transition-timing-function: $bmd-animation-curve-fast-out-linear-in;
}

@mixin material-animation-default($duration:0.2s) {
    transition-duration: $duration;
    transition-timing-function: $bmd-animation-curve-default;
}

@mixin rotate-180() {
    -webkit-transform: rotate( 180deg);
    -moz-transform: rotate( 180deg);
    -o-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}

@mixin rotate($value) {
    -webkit-transform: rotate( $value);
    -moz-transform: rotate( $value);
    -o-transform: rotate( $value);
    -ms-transform: rotate($value);
    transform: rotate( $value);
}

@mixin transform-scale($value) {
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -o-transform: scale($value);
    -ms-transform: scale($value);
    transform: scale($value);
}

@mixin rotateY-180() {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY( 180deg);
}

@mixin transitions($time, $type) {
    -webkit-transition: all $time $type;
    -moz-transition: all $time $type;
    -o-transition: all $time $type;
    -ms-transition: all $time $type;
    transition: all $time $type;
}

@mixin transitions-property($property, $time, $type) {
    -webkit-transition: $property $time $type;
    -moz-transition: $property $time $type;
    -o-transition: $property $time $type;
    -ms-transition: $property $time $type;
    transition: $property $time $type;
}

@mixin transform-translate-x($value) {
    -webkit-transform: translate3d($value, 0, 0);
    -moz-transform: translate3d($value, 0, 0);
    -o-transform: translate3d($value, 0, 0);
    -ms-transform: translate3d($value, 0, 0);
    transform: translate3d($value, 0, 0);
}

@mixin transform-translate-y($value) {
    -webkit-transform: translate3d(0, $value, 0);
    -moz-transform: translate3d(0, $value, 0);
    -o-transform: translate3d(0, $value, 0);
    -ms-transform: translate3d(0, $value, 0);
    transform: translate3d(0, $value, 0);
}

@mixin perspective($value) {
    -webkit-perspective: $value;
    -moz-perspective: $value;
    -o-perspective: $value;
    -ms-perspective: $value;
    perspective: $value;
}

@mixin transform-style($type) {
    -webkit-transform-style: $type;
    -moz-transform-style: $type;
    -o-transform-style: $type;
    -ms-transform-style: $type;
    transform-style: $type;
}

@mixin backface-visibility($type) {
    -webkit-backface-visibility: $type;
    -moz-backface-visibility: $type;
    -o-backface-visibility: $type;
    -ms-backface-visibility: $type;
    backface-visibility: $type;
}

@mixin transform-translate-y-dropdown($value) {
    -webkit-transform: translate3d(0, $value, 0);
    -moz-transform: translate3d(0, $value, 0);
    -o-transform: translate3d(0, $value, 0);
    -ms-transform: translate3d(0, $value, 0);
    transform: translate3d(0, $value, 0);
}

@mixin perspective3D($value, $args1, $args2, $args3, $deg) {
    -webkit-transform: perspective($value) rotate3d($args1, $args2, $args3, $deg);
    -moz-transform: perspective($value) rotate3d($args1, $args2, $args3, $deg);
    -o-transform: perspective($value) rotate3d($args1, $args2, $args3, $deg);
    -ms-transform: perspective($value) rotate3d($args1, $args2, $args3, $deg);
    transform: perspective($value) rotate3d($args1, $args2, $args3, $deg);
}

@keyframes flipInX {
    from {
        @include perspective3D(400px, 1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        @include perspective3D(400px, 1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        @include perspective3D(400px, 1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        @include perspective3D(400px, 1, 0, 0, -5deg);
    }
    to {
        @include perspective(400px);
    }
}

.flipInX {
    backface-visibility: visible;
    animation-name: flipInX;
    animation-duration: 0.75s;
}

@keyframes flipOutX {
    from {
        @include perspective(400px);
    }
    30% {
        @include perspective3D(400px, 1, 0, 0, -20deg);
        opacity: 1;
    }
    to {
        @include perspective3D(400px, 1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flipOutX {
    animation-duration: 0.75s;
    animation-name: flipOutX;
    backface-visibility: visible;
}

@keyframes flip {
    from {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }
    to {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    backface-visibility: visible;
    animation-name: flip;
}
