//== Buttons
//
//== Components
//
$topbar-x: topbar-x !default;
$topbar-back: topbar-back !default;
$bottombar-x: bottombar-x !default;
$bottombar-back: bottombar-back !default;
// Sidebar variables
$sidebar-right-width: 60px !default;
$sidebar-width: calc(100% - 260px) !default;
$remarks-width: calc(100% - 275px) !default;
$sidebar-mini-width: calc(100% - 60px) !default;
$shadow-mat-select-option: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
0 7px 10px -5px rgba(156, 39, 176, 0.4);
