// label variations
.label {
  border-radius: $border-radius-base;
  @include variations(unquote(".label"), unquote(""), background-color, $grey);
}

// must be broken out for reuse - webkit selector breaks firefox
@mixin label-static($label-top, $static-font-size, $static-line-height) {
  // label.control-label {
  top: $label-top;
  left: 0;
  // must repeat because the selector above is more specific than the general label sizing
  font-size: $static-font-size;
  line-height: $static-line-height;
  // transform: translate(0, 0) scale(1);
  // }
}

@mixin label-size-variant($placeholder-font-size, $vertical-padding, $line-height, $static-font-size, $static-line-height, $help-block-font-size) {
  .form-control {
    @include material-placeholder {
      font-size: $placeholder-font-size;
      line-height: $line-height;
      color: $brand-primary-text;
      font-weight: 400;
    }
  }

  // generic labels used anywhere in the form (not control-label)
  .checkbox label,
  .radio label,
  .label-on-left,
  .label-on-right {
    font-size: $placeholder-font-size;
    line-height: $line-height;
    color: $brand-primary-text;
    font-weight: 400;
  }

  // smaller focused or static size
  label.control-label {
    font-size: $static-font-size;
    line-height: $static-line-height;
    color: $brand-primary-text;
    font-weight: 400;
    margin: 14px 0 0 0; // std and lg
  }

  .help-block {
    margin-top: 0; // allow the input margin to set-off the top of the help-block
    font-size: $help-block-font-size;
  }
}

@mixin form-group-validation-state($name, $color) {
  &.#{$name} {

    // e.g. has-error
    .form-control {
      box-shadow: none;
    }

    &.is-fill .form-control {
      background-image: linear-gradient($color, $color), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
    }

    @if $name=="is-invalid" {
      & .form-control {
        background-image: linear-gradient($color, $color), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
        background-size: 100% 2px, 100% 1px;
        transition-duration: 0.3s;
      }
    }

    label.control-label,
    .help-block {
      color: $color;
    }
  }
}

@mixin form-group-size-variant($parent, $placeholder-font-size, $label-top-margin, $vertical-padding, $line-height, $label-as-placeholder-shim) {
  $static-font-size: ceil(($bmd-bmd-label-static-size-ratio * $placeholder-font-size)) !default;
  $static-line-height: ($bmd-bmd-label-static-size-ratio * $line-height) !default;
  $label-as-placeholder-top: -1 * ($vertical-padding + $label-as-placeholder-shim) !default;
  $label-top: $label-as-placeholder-top - ($placeholder-font-size + $vertical-padding) !default;
  $help-block-font-size: ceil(($bmd-help-size-ratio * $placeholder-font-size)) !default;
  $help-block-line-height: ($bmd-help-size-ratio * $line-height) !default;

  // this is outside a form-group
  @if not $parent {
    @include label-size-variant($placeholder-font-size, $vertical-padding, $line-height, $static-font-size, $static-line-height, $help-block-font-size);
  }

  // this is inside a form-group, may be .form-group.form-group-sm or .form-group.form-group-lg
  @else {
    #{$parent} {
      @include label-size-variant($placeholder-font-size, $vertical-padding, $line-height, $static-font-size, $static-line-height, $help-block-font-size);
      padding-bottom: $padding-large-vertical;
      margin: 20px 0 0 0;

      // larger labels as placeholders
      &.label-floating {
        label.control-label {
          top: $label-as-placeholder-top; // place the floating label to look like a placeholder with input padding
          font-size: $placeholder-font-size;
          line-height: $line-height;
          sub {
            bottom: 0em;
            margin-left: 5px;
          }
        }

        &.is-fill {
          label.control-label {
            @include label-static($label-top, $static-font-size, $static-line-height);
          }

          .form-control {
            &.ng-invalid {
              background-image: linear-gradient($brand-danger, $brand-danger), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
            }
          }
        }

        &.form-group-radio {
          padding-top: 10px;

          label.control-label {
            @include label-static($label-top, $static-font-size, $static-line-height);
          }
        }
        .numberPipe {
          display: block;
          position: relative;
          width: 100%;
          font-size: 10px;
          line-height: 13px;
          color: $brand-primary-text;
          font-weight: 600;
          top: calc(100% - 18px);
        }
      }

      &.label-floating input.form-control:-webkit-autofill+label.control-label {
        @include label-static($label-top, $static-font-size, $static-line-height);
      }
    }
  }
}

// -----
// Inputs
.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;

  // Placeholders and and labels-as-placeholders should look the same
  @include material-placeholder {
    color: $brand-primary-text;
    font-weight: 400;
  }

  &:textarea {
    // appears to be an invalid selector
    height: 40px;
  }

  &[readonly],
  &[disabled],
  fieldset[disabled] & {
    background-color: rgba(0, 0, 0, 0);
  }

  &[disabled],
  fieldset[disabled] & {
    background-image: none;
    border-bottom: 1px dotted $mdb-input-underline-color;
  }

  &:focus {
    outline: none;
    background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;

    .material-input:after {
      background-color: $brand-primary;
    }

    &+label.control-label {
      @include label-static(-28px, 11px, 1.125);
    }
  }

  &.ng-touched {
    background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
  }

  // &.ng-invalid {
  //   background-image: linear-gradient($brand-danger, $brand-danger), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
  // }

  &.ng-valid {
    background-image: linear-gradient($brand-success, $brand-success), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);

    // &+label.control-label {
    //   @include label-static(-28px, 11px, 1.125);
    // }
  }
}
label {
  &.form-control.dummy-input {
    line-height: 27px;
    height: auto;
  }
}
.form-group {
  position: relative;

  &.label-floating {
    label.control-label {
      position: absolute;
      pointer-events: none;
      transition: 0.3s ease all;
      will-change: left, top, contents;
    }

    .error {
      display: block;
      position: absolute;
      color: $brand-danger;
      font-size: $font-size-xs-small;
      bottom: -4px;
    }
  }

  .help-block {
    position: absolute;
    display: none;
  }

  .form-control {
    &.ng-valid:focus {
      background-image: linear-gradient($brand-success, $brand-success), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
    }
  }

  @include form-group-validation-state(has-warning, $brand-warning);
  @include form-group-validation-state(has-invalid, $brand-danger);
  @include form-group-validation-state(has-success, $brand-success);
  @include form-group-validation-state(has-info, $brand-info);

  textarea {
    resize: none;

    &~.form-control-highlight {
      margin-top: -11px;
    }
  }

  select {
    appearance: none; // Fix for OS X

    &~.material-input:after {
      display: none;
    }
  }

  label.form-label {
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    font-family: $font-lato-semibold;

    span {
      color: $brand-primary-text;
    }

    a.form-edit-btn {
      color: $brand-slight-black;
      margin-left: 10px;

      &::after {
        // content: "";
        border: solid $brand-slight-black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        border-radius: 1px;
        transform: rotate(45deg);
        position: relative;
        top: -2px;
        right: -6px;
      }
    }
  }
}

// default floating size/location without a form-group (will skip form-group styles, and just render default sizing variation)
@include form-group-size-variant(null, $mdb-input-size-base, $font-size-root, $mdb-input-padding-base-vertical, $line-height-base, $mdb-label-as-placeholder-shim-base);
// default floating size/location with a form-group (need margin etc from a default form-group)
@include form-group-size-variant(unquote(".form-group"), $mdb-input-size-base, $font-size-root, $mdb-input-padding-base-vertical, $line-height-base, $mdb-label-as-placeholder-shim-base);
// sm floating size/location
@include form-group-size-variant(unquote(".form-group.form-group-sm"), $mdb-input-font-size-base, $mdb-label-top-margin-small, $mdb-input-padding-small-vertical, $line-height-base, $mdb-label-as-placeholder-shim-small);
// lg floating size/location
@include form-group-size-variant(unquote(".form-group.form-group-lg"), $mdb-input-font-size-base, $mdb-label-top-margin-large, $mdb-input-padding-large-vertical, $mdb-input-line-height-large, $mdb-label-as-placeholder-shim-large);

select.form-control {
  border: 0;
  box-shadow: none;
  border-radius: 0;

  .form-group.is-focused & {
    box-shadow: none;
    border-color: $mdb-input-underline-color;
  }

  &[multiple] {

    &,
    .form-group.is-focused & {
      height: 85px;
    }
  }
}

@mixin input-group-button-variation($vertical-padding) {
  .input-group-btn {
    .btn {
      margin: 0 0 $vertical-padding 0;
    }
  }
}

@include input-group-button-variation($mdb-input-padding-base-vertical);

.form-group {

  // sm margin
  &.form-group-sm {
    @include input-group-button-variation($mdb-input-padding-small-vertical);
  }

  // lg margin
  &.form-group-lg {
    @include input-group-button-variation($mdb-input-padding-large-vertical);
  }
}

.input-group {

  // may be in or outside of form-group
  .input-group-btn {
    padding: 0 12px; // match addon spacing
  }

  .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;
  }
}

// Input files - hide actual input - requires specific markup in the sample.
.form-group input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.form-control-feedback {
  opacity: 0;

  .has-success & {
    color: $green;
    opacity: 1;
  }

  .has-error & {
    color: $red;
    opacity: 1;
  }
}
