.pagination {

  >.page-item .page-link.mat-button .mat-button-ripple {
    border-radius: 30px;
  }

  >.page-item>.page-link.mat-button,
  >.page-item>span,
  .paginate_button a {
    border: 0;
    border-radius: 30px;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: $gray-color;
    font-weight: $font-weight-default;
    background: transparent;
    text-align: center;

    &:hover,
    &:focus {
      color: $gray-color;
    }
  }

  .paginate_button a {
    position: relative;
    display: block;
  }

  >.page-item.active>a.mat-button,
  >.page-item.active>span,
  .paginate_button.active a {
    color: $gray-color;

    &,
    &:focus,
    &:hover {
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: $white;
      @include shadow-4dp-color($brand-primary);
    }

  }

  // Colors
  &.pagination-info {

    >.page-item.active>a,
    >.page-item.active>span,
    .paginate_button.active a {

      &,
      &:focus,
      &:hover {
        background-color: $brand-info;
        border-color: $brand-info;
        @include shadow-4dp-color($brand-info);
      }
    }
  }

  &.pagination-success {

    >.page-item.active>a,
    >.page-item.active>span,
    .paginate_button.active a {

      &,
      &:focus,
      &:hover {
        background-color: $brand-success;
        border-color: $brand-success;
        @include shadow-4dp-color($brand-success);
      }
    }
  }

  &.pagination-warning {

    >.page-item.active>a,
    >.page-item.active>span,
    .paginate_button.active a {

      &,
      &:focus,
      &:hover {
        background-color: $brand-warning;
        border-color: $brand-warning;
        @include shadow-4dp-color($brand-warning);
      }
    }
  }

  &.pagination-danger {

    >.page-item.active>a,
    >.page-item.active>span,
    .paginate_button.active a {

      &,
      &:focus,
      &:hover {
        background-color: $brand-danger;
        border-color: $brand-danger;
        @include shadow-4dp-color($brand-danger);
      }
    }
  }
}

.mat-button:hover .mat-button-focus-overlay,
.mat-stroked-button:hover .mat-button-focus-overlay {
  opacity: 0;
  background-color: transparent;
}
