.popover,
.tooltip-inner {
  line-height: 1.5em;
  background: $white;
  border: none;
  border-radius: $border-radius-base;
  @include box-shadow-default();
  color: $popover-color;
}


.popover {
  padding: 0;
  @include box-shadow-default();

  &.left,
  &.right,
  &.top,
  &.bottom {
    >.arrow {
      border: none;
    }
  }


  &.bs-popover-top,
  &.bs-popover-auto[x-placement^="top"],
  &.bs-popover-bottom,
  &.bs-popover-auto[x-placement^="bottom"],
  &.bs-popover-right,
  &.bs-popover-auto[x-placement^="right"],
  &.bs-popover-left,
  &.bs-popover-auto[x-placement^="left"] {
    & .arrow::before {
      border: 0;
    }
  }

}

.popover-header {
  background-color: $white;
  border: none;
  padding: 15px 15px 5px;
  font-size: $font-size-h4;
  margin: 0;
  color: $popover-color;
}

.popover-body {
  padding: 10px 15px 15px;
  line-height: 1.4;
  color: $popover-color;
}

.popover {
  font-size: $font-size-base;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border: none;
  line-height: 1.7;
  max-width: 240px;

  &.bs-popover-top .arrow:before,
  &.bs-popover-left .arrow:before,
  &.bs-popover-right .arrow:before,
  &.bs-popover-bottom .arrow:before {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .popover-header {
    color: $brand-primary;
    font-size: $font-size-base;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0;
    margin-top: 5px;
    border: none;
    background-color: transparent;
  }

  &:before {
    display: none;
  }

  &.bs-tether-element-attached-top:after {
    border-bottom-color: $white;
    top: -9px;
  }

  &.popover-primary {
    @include popover-color($brand-primary, $white);
  }

  &.popover-info {
    @include popover-color($brand-info, $white);
  }

  &.popover-warning {
    @include popover-color($brand-warning, $white);
  }

  &.popover-danger {
    @include popover-color($brand-danger, $white);
  }

  &.popover-success {
    @include popover-color($brand-success, $white);
  }
}


.tooltip {
  &.bs-tooltip-right .arrow:before {
    border-right-color: $white;
  }

  &.bs-tooltip-top .arrow:before {
    border-top-color: $white;
  }

  &.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $white;
  }

  &.bs-tooltip-left .arrow:before {
    border-left-color: $white;
  }
}

.tooltip-inner {
  padding: $padding-base-vertical $padding-base-horizontal;
  min-width: 130px;
  background-color: $white;
  font-size: $font-size-base;
  color: inherit;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.progress {
  height: 4px;
  border-radius: 0;
  box-shadow: none;
  background: #DDDDDD;
  margin-bottom: 20px;

  .progress-bar {
    box-shadow: none;
    @include variations(unquote(".progress-bar"), unquote(""), background-color, $brand-primary);

    &.progress-bar-primary {
      background: $brand-primary;
    }

    &.progress-bar-info {
      background: $brand-info;
    }

    &.progress-bar-success {
      background: $brand-success;
    }

    &.progress-bar-warning {
      background: $brand-warning;
    }

    &.progress-bar-danger {
      background: $brand-danger;
    }
  }

  &.progress-line-primary {
    background: rgba($brand-primary, .2);
  }

  &.progress-line-info {
    background: rgba($brand-info, .2);
  }

  &.progress-line-success {
    background: rgba($brand-success, .2);
  }

  &.progress-line-warning {
    background: rgba($brand-warning, .2);
  }

  &.progress-line-danger {
    background: rgba($brand-danger, .2);
  }
}
